.title {
  color: #f73d01;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}
.row-content {
  margin: 0px auto;
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid rgb(146, 186, 192);
  min-height: 400px;
}
.container {
  display: flex;
  width: 100%;
}
.sub-container {
  display: flex;
  width: 100%;
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #795b31;
  color: floralwhite;
}
.container-left {
  text-align: center;
  margin: auto;
}
.container-right {
  width: 70%;
  text-align: center;
}
.img-main {
  width: 70%;
  border-radius: 2rem;
  margin-bottom: 1rem;
}
.container-default {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.container-heading {
  padding-left: 1rem;
  border-radius: 0.5rem;
  background-color: #d9d5d0;
  width: 100%;
}
.container-body {
  padding: 1rem 1rem;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
}
body {
  padding: 10px 0px 0px 0px;
}
h2 {
  color: #e14f00;
  font-family: "Montserrat", sans-serif;
}
h4 {
  color: #6a4911;
  font-style: bold;
}
p {
  color: black;
  line-height: 2rem;
}
#text_quote {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.2rem;
  line-height: 3rem;
}
cite {
  color: white;
}
